/* Media Query */
h1 {
    color: orangered;
}

/* min-width ou técnica mobile first */
p {
    background-color: aquamarine;
    color: black;
}

/* Landscape ocultado */
h2 {
    display: none;
}

@media  screen and (max-width: 500px) {
    h1 {
        color: greenyellow;
    }    
}

/* min-width ou técnica mobile first */
@media  screen and (max-width: 800px) {
    p {
        background-color: black;
        color: yellow;
    }
} 

/* Landscape */
@media screen and (orientation: landscape) {
    h2 {
        display: block;
    }
    
}