body{
    padding-bottom: 500px;
    background-color: rgb(194, 168, 121);
}

div{
    margin-bottom: 15px;
}

div input, div label {
    display: block;
}

/* Input Radio */
.radio label, .radio input{
    display: inline-block;
}